@charset "utf-8";
/**
 * @author jinyf
 */
html {font-size: 62.5%;}
body {font-size: 1.4rem;}
.header {
  height: 55px;
  background: rgba(255, 255, 255, 0.9);
  padding: 10px 0;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.05);
}
.nav {
  height: 35px;
}
.nav .logo {
  margin-bottom: 0;
  font-size: 2rem;
  line-height: 35px;
  
}
.nav .nav-toggler {
  color: #939495;
  font-size: 1.25rem;
}


/* 防止页面加载时出现变量名*/
[v-cloak] {
  display: none !important;
}