/.git/
/.settings/
/target/
.classpath
/.gitattributes
/.gitignore
/.project
/build/
/dfgg.log
/src/
/.DS_Store
/bin/
/dfgg.log.2017-06-27
/dfgg.log.2017-06-28
/dfgg.log.2017-07-05
/dfgg.log.2017-07-07
/dfgg.log.2017-07-10
