@charset "utf-8";
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  background: #393939;
}
.header {
  height: 10vh;
}
.header-title {
  margin: 0;
  text-align: center;
  line-height: 10vh;
  color: #fff;
  font-size: 2.5vh;
  cursor: default;
}
.wrap {
  width: 93vw;
  height: 84vh;
  margin: 1vh auto 5vh;
}

.wrap .box {
  float: left;
  position: relative;
  height: 20vh;
  margin-right: 1vw;
  margin-bottom: 1vw;
  text-align: center;
  appearance: none;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .3s;
  -moz-transition-duration: .3s;
  -ms-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s;
  cursor: pointer;
  overflow: hidden;
}
.wrap .box:nth-child(4n) {
  margin-right: 0;
}
.wrap .box1 {
  width: 15vw;
  background: #e8687f;
}
.wrap .box2 {
  width: 30vw;
  background: #8fbb4f;
}
.wrap .box3 {
  width: 30vw;
  background: #f5c147;
}
.wrap .box4 {
  width: 15vw;
  background: #38bec9;
}
.wrap .box5 {
  width: 30vw;
  background: #5f7cb4;
}
.wrap .box6 {
  width: 15vw;
  border: 1px solid #993f3e;
}
.wrap .box7 {
  width: 30vw;
  background: #47b5ee;
}
.wrap .box8 {
  width: 15vw;
  background: #af5dc5;
}
.wrap .box1:hover {
  background: #FF8CA1;
}
.wrap .box2:hover {
  background: #CDFF85;
}
.wrap .box3:hover {
  background: #FFD063;
}
.wrap .box4:hover {
  background: #61F3FF;
}
.wrap .box5:hover {
  background: #A0C0FF;
}
.wrap .box6:hover {
  border: 1px solid #b3b3b3;
}
.wrap .box7:hover {
  background: #66CBFF;
}
.wrap .box8:hover {
  background: #E892FF;
}
.wrap .box .fa {
  margin-top: 4vh;
  font-size: 8vh;
  color: #fff;
}
.wrap .box .box-title {
  display: block;
  margin-top: 1vh;
  font-size: 2vh;
  color: #fff;
  text-decoration: none;
}

.wrap .box6:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  
  color: #222;
  z-index: -1;
}
.wrap .box6:after {
  top: 0;
  padding-top: 100%;
  background: #993f3e;
}
.wrap .box6:hover:after {
  -webkit-transform: translate3D(0, -100%, 0);
  -ms-transform: translate3D(0, -100%, 0);
  transform: translate3D(0, -100%, 0);
}