@charset "utf-8";
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  background: #bdc3c7;
}
.header {
  height: 7vh;
}
.header .header-nav-content {
  height: 7vh;
  width: 96vw;
  margin: 0 auto;
}
.header .header-nav-content .logo {
  float: left;
  min-width: 10vw;
  height: 7vh;
  line-height: 7vh;
  text-align: center;
  font-weight: 500;
  color: #000;
  text-decoration: none;
}
.header .header-nav-content .logo .logo-span {
  margin: 2.25vh auto;
}
.header .header-nav-content .logo .logo-span span {
  line-height: 1;
  font-size: 2.5vh;
  color: #2b3e50;
}
.wrap {
  width: 96vw;
  height: 90vh;
  margin: 0 auto;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.wrap .sidebar {
  float: left;
  width: 5vw;
  height: 90vh;
  background: #2b3e50;
  -webkit-border-bottom-left-radius: 15px;
  -moz-border-bottom-left-radius: 15px;
  border-bottom-left-radius: 15px;
  -webkit-border-top-left-radius: 15px;
  -moz-border-top-left-radius: 15px;
  border-top-left-radius: 15px;
}
.wrap .wrap-content {
  float: left;
  width: 91vw;
  height: 90vh;
  border: 1px solid #2b3e50;
  border-left: 0;
  -webkit-border-bottom-right-radius: 15px;
  -moz-border-bottom-right-radius: 15px;
  border-bottom-right-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -moz-border-top-right-radius: 15px;
  border-top-right-radius: 15px;
}
.wrap .wrap-content .wrap-content-header {
  height: 5vh;
  background: #ecf0f1;
  -webkit-border-top-right-radius: 15px;
  -moz-border-top-right-radius: 15px;
  border-top-right-radius: 15px;
}
.wrap .wrap-content .wrap-content-body {
  height: calc(85vh - 2px);
  padding: 15px;
  background: #fff;
  -webkit-border-bottom-right-radius: 15px;
  -moz-border-bottom-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.wrap .wrap-content .wrap-content-body .box {
  float: left;
  position: relative;
  width: 25%;
  height: 20vh;
  margin: 0 auto;
  text-align: center;
  appearance: none;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .3s;
  -moz-transition-duration: .3s;
  -ms-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s;
  cursor: pointer;
  text-decoration: none;
  overflow: hidden;
}
.wrap .box1 {
  background: #e8687f;
}
.wrap .box2 {
  background: #8fbb4f;
}
.wrap .box3 {
  background: #f5c147;
}
.wrap .box4 {
  background: #38bec9;
}
.wrap .box5 {
  background: #5f7cb4;
}
.wrap .box6 {
  background: #993f3e;
  border: 1px solid #993f3e;
}
.wrap .box7 {
  background: #47b5ee;
}
.wrap .box8 {
  background: #af5dc5;
}
.wrap .box1:hover {
  background: #FF8CA1;
}
.wrap .box2:hover {
  background: #CDFF85;
}
.wrap .box3:hover {
  background: #FFD063;
}
.wrap .box4:hover {
  background: #61F3FF;
}
.wrap .box5:hover {
  background: #A0C0FF;
}
.wrap .box6:hover {
  border: 1px solid #b3b3b3;
}
.wrap .box7:hover {
  background: #66CBFF;
}
.wrap .box8:hover {
  background: #E892FF;
}
.wrap .box .fa {
  margin-top: 4vh;
  font-size: 8vh;
  color: #fff;
}
.wrap .box .box-title {
  display: block;
  margin-top: 1vh;
  font-size: 2vh;
  color: #fff;
  text-decoration: none;
}

.wrap .box6:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  color: #222;
  z-index: -1;
}
.wrap .box6:after {
  top: 0;
  padding-top: 100%;
  background: #993f3e;
}
.wrap .box6:hover:after {
  -webkit-transform: translate3D(0, -100%, 0);
  -ms-transform: translate3D(0, -100%, 0);
  transform: translate3D(0, -100%, 0);
}